<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/metisMenu.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/mm-vertical.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="{% static 'js/jquery-3.3.1-jquery.min.js' %}"></script>
    <script src="{% static 'js/metisMenu.min.js' %}"></script>
</head>
<body class="text-center">
<form class="form-signin" action="/postLogin/" method="post">
    {% csrf_token %}
    <h1 class="h3 mb-3 font-weight-normal">用户登录</h1>
    <label for="username" class="sr-only">用户名</label>
    <input id="username" name="username" class="form-control" placeholder="请输入用户名" required="" autofocus="">
    <label for="password" class="sr-only">密码</label>
    <input id="password" name="password" class="form-control" placeholder="请输入密码" required="" type="password">
    <button class="btn btn-lg btn-dark btn-block" type="submit">登录</button>
</form>
</body>
</html>