<!-- 头部区域 -->
{% include 'website/base/header.html' %}
<!-- 中部区域 -->
<div class="container-fluid">
    <div class="row">
        <!-- 左侧菜单区域 -->
        <div class="col-md-2">
            {% include 'website/base/navbar.html' %}
        </div>
        <!-- 右侧内容区域 -->
        <div class="col-md-10" id="main">
            <div class="p-3">
                <a href="/manage/addActivity/" class="btn btn-outline-dark">新增活动</a>
            </div>
            <div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">活动名称</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in data %}
                    <tr>
                        <th scope="row">{{row.id}}</th>
                        <td><a href="/manage/activityInfo/{{row.id}}/">{{row.name}}</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- 低部区域 -->
{% include 'website/base/footer.html' %}